

#vi16 .ReportPagePadding {
  padding: 0px;
}
#ve853 .ReportElementContainer {
  padding: 0px;
}
#vi881 .ReportPagePadding {
  padding: 0px;
}
#ve14 .Container {
  background-color: #FFFFFF;
  transparency: 0;
}
#ve12 .ReportElementContainer {
  padding: 0px;
}
#ve987 .ReportElementContainer {
  padding: 0px;
}
#ve870 .ReportElementContainer {
  padding: 0px;
}
#ve14 .ReportElementContainer {
  padding: 0px;
}
#ve983 .ReportElementContainer {
  padding: 0px;
}
#ve999 .paragraph2 {
  text-align: justify;
}
#ve999 .paragraph1 {
  text-align: justify;
}
#ve999 .paragraph3 {
  text-align: justify;
}
#ve989 .span3 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 25pt;
}
#vi6 .ReportPagePadding {
  padding: 0px;
}
#ve989 .span2 {
  font-size: 25pt;
}
#ve989 .span1 {
  color: #CEC2A9;
  font-size: 25pt;
}
#vi864 .ReportPagePadding {
  padding: 0px;
}
#ve999 .span2 {
  color: #FFFFFF;
  font-size: 14pt;
  font-family: "AvenirNext Light";
}
#ve999 .span1 {
  color: #FFFFFF;
  font-size: 14pt;
  font-family: "AvenirNext Light";
}
#vi23 .ReportPagePadding {
  padding: 0px;
}
#ve845 .ReportElementContainer {
  padding: 0px;
}

			